<!doctype html>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
<title>bigbother | 🧀 say cheese</title>


<div class="persontext" id="persontext">
    {{ person.fullName }}
    <br>
    {{ person.room.name }}, {{ person.room.city }}
    <br>
    last seen: {{ person.lastSeen }}
</div>

<div class="randomtext" id="randomtext">
    random text.
</div>

<script>
    var text_array = [
        "found ya!",
        "there's no use hiding",
        "all seeing eye and all that",
        "run, run as fast as you can"
        ];
    var rand_div = document.getElementById("randomtext");
    rand_div.innerHTML = text_array[Math.floor(Math.random()*text_array.length)];
    rand_div.style.top = Math.floor((Math.random() * 460) + 1) + "px";
    rand_div.style.left = Math.floor((Math.random() * 1460) + 1) + "px";
</script>

<div class="byline">A big bother, brought to you by Olivier, Richard, Hatim and Raid</div>
